/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f9fb;
    color: #474bff;
    overflow-x: hidden;
}

/* Heading styling */
.heading{
    padding: 40px;
    text-transform: uppercase;
    text-align: center;
}

.heading h2{
    font-weight: 600;
    margin-top: 6px;
    font-size: 26px;
}
.heading p{
    font-weight: 600;
    color: #474affb1;
}

.code-paragraph{
    margin-top: 60px;
}

.code-paragraph p{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Loader wrapper to contain both loader and name */
.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for loader names */
.loader-wrapper p {
    margin-top: 10px;
    font-size: 14px;
    color: #474bff;
    text-align: center;
}

/* Container for the Loaders */
.loaders-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Common Styling for Loaders */
.loader-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #474aff23;
    border-radius: 4px;
    background-color: #f1f2fb;
    transition: 0.3s;
}

.loader-box:hover{
    scale: 1.07;
    border-color: #474bff;
    cursor: pointer;
}

/* Loader 1 Styling */
.spinner {
    width: 11.2px;
    height: 11.2px;
    animation: spinner-z355kx 1s infinite linear;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 #474bff, 17.4px 21.8px 0 0 #474bff, -6.2px 27.2px 0 0 #474bff, -25.2px 12px 0 0 #474bff, -25.2px -12px 0 0 #474bff, -6.2px -27.2px 0 0 #474bff, 17.4px -21.8px 0 0 #474bff;
 }
 
 @keyframes spinner-z355kx {
    to {
       transform: rotate(360deg);
    }
 }

/* Loader 2 Styling */
.spinner2 {
    width: 11.2px;
    height: 11.2px;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 rgba(71,75,255,0.2), 22.7px 16.5px 0 0 rgba(71,75,255,0.4), 8.68px 26.6px 0 0 rgba(71,75,255,0.6), -8.68px 26.6px 0 0 rgba(71,75,255,0.8), -22.7px 16.5px 0 0 #474bff;
    animation: spinner-b87k6z 1s infinite linear;
 }
 
 @keyframes spinner-b87k6z {
    to {
       transform: rotate(360deg);
    }
 }

/* Loader 3 Styling */
.spinner3 {
    --d: 24.6px;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    color: #474bff;
    box-shadow: calc(1*var(--d))      calc(0*var(--d))     0 0,
           calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1.1px,
           calc(0*var(--d))      calc(1*var(--d))     0 2.2px,
           calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3.4px,
           calc(-1*var(--d))     calc(0*var(--d))     0 4.5px,
           calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5.6px,
           calc(0*var(--d))      calc(-1*var(--d))    0 6.7px;
    animation: spinner-a90wxe 1s infinite steps(8);
 }
 
 @keyframes spinner-a90wxe {
    100% {
       transform: rotate(1turn);
    }
 }

/* Loader 4 Styling */
.spinner4 {
    width: 56px;
    height: 56px;
    display: grid;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(71,75,255,0.5) 50%, rgba(71,75,255,1) 0) center/4.5px 100%, 
                linear-gradient(90deg, rgba(71,75,255,0.25) 50%, rgba(71,75,255,0.75) 0) center/100% 4.5px;
    background-repeat: no-repeat;
    animation: spinner-d3o0rx 1s infinite steps(12);
    mask: radial-gradient(farthest-side, #0000 40%, #474bff 41%);
    -webkit-mask: radial-gradient(farthest-side, #0000 40%, #474bff 41%);
}

.spinner4::before,
.spinner4::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}

.spinner4::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
    100% {
        transform: rotate(1turn);
    }
}


/* Loader 5 Styling */
.spinner5 {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 1.1px;
    background: conic-gradient(#0000 10%, #474bff) content-box;
    mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg), 
          radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 9px));
    -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg), 
                 radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 9px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: spinner-d55elj 1s infinite steps(10);
}

@keyframes spinner-d55elj {
    to {
        transform: rotate(1turn);
    }
}


/* Loader 6 Styling */
.spinner6 {
    position: absolute;
    width: 9px;
    height: 9px;
 }
 
 .spinner6 div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #474bff;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
 }
 
 .spinner6 div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
 }
 
 .spinner6 div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
 }
 
 @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
 
    50% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
 }